{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <style type="text/css">
        #main-div {
            font-size: 3rem;
        }
        input {
            margin: 1rem 1rem;
            padding: 0.2rem;
            display: block;
            font-size: 1.8rem;
            height: 2.5rem;
            width: 20rem;
        }
        select {
            margin: 1rem 1rem;
            padding: 0.2rem;
            display: block;
            font-size: 1.8rem;
            height: 3rem;
            width: 20rem;
        }
    </style>
</head>

<body>
    <div id="main-div">
        {% block page_content %}
        {{ wtf.quick_form(form) }}
        {% endblock %}
    </div>
</body>

<script type="text/javascript">

</script>


</html>
